.completion-bar {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    width: 85%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    cursor: pointer;
    border-top: 1px solid #e0e0e0;

    &:hover {
        background-color: #f4f4f4;
    }
}
