<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create a User</title>
        <link rel="stylesheet" href="/css/home.css" />
    </head>
    <body>
        <div class="topnav">
            <a href="/home">Home</a>
            <a class="active" href="/create">Create New User</a>
        </div>
        <div class="form-add-new">
            <form action="/create_user" method="POST">
                <fieldset>
                    <legend>Add new user</legend>

                    <div class="input-group">
                        <label>Email: </label>
                        <input type="text" name="email" />
                    </div>
                    <div class="input-group">
                        <label>Name: </label>
                        <input type="text" name="myname" />
                    </div>
                    <div class="input-group">
                        <label>City: </label>
                        <input type="text" name="city" />
                    </div>
                    <div>
                        <button>Save</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
