body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-container {
    .header-container {
        .btn-login {
            border-radius: 5px;
            margin-right: 15px;
            padding: 0 15px;
            border: 1px solid #535353;
            height: 40px;
        }
        .btn-signup {
            border-radius: 5px;
            background: #303030;
            padding: 0 15px;
            color: white;
            &:hover {
                background: black;
            }
            height: 40px;
        }

        .navbar {
            padding-top: 20px;
            background-color: rgba(0, 0, 0, 0) !important;
            z-index: 10;

            .nav-link {
                &.active {
                    color: #00bfff;
                }
            }
        }
    }
    .homepage-container {
        .homepage-content {
            width: 50%;
            padding: 100px;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 30px;
            .title-1 {
                font-size: 35px;
                font-weight: 600;
            }
            .title-2 {
                font-size: 22px;
            }
            .title-3 {
                button {
                    border: none;
                    border-radius: 5px;
                    background: #303030;
                    padding: 0 15px;
                    color: white;
                    &:hover {
                        background: black;
                    }
                    height: 40px;
                }
            }
        }
    }
}

video {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

@media (min-width: 1350px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1300px !important;
    }
}
